%div.owl-carousel
  .device-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
    .thumbnail-device
      %a{href: '#'}
        %span.price= raw('$100 <span>/day</span>')
        %img.lazyOwl{'data-src' => "#{ asset_path('devices/photo-dev1.png') }"}
    %h4= link_to 'Canon 5D Mark III'
  .device-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
    .thumbnail-device
      %a{href: '#'}
        %span.price= raw('$100 <span>/day</span>')
        %img.lazyOwl{'data-src' => "#{ asset_path('devices/photo-dev2.png') }"}
    %h4= link_to 'Canon 5D Mark III'
  .device-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
    .thumbnail-device
      %a{href: '#'}
        %span.price= raw('$100 <span>/day</span>')
        %img.lazyOwl{'data-src' => "#{ asset_path('devices/photo-dev3.png') }"}
    %h4= link_to 'Canon 5D Mark III'
  .device-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
    .thumbnail-device
      %a{href: '#'}
        %span.price= raw('$100 <span>/day</span>')
        %img.lazyOwl{'data-src' => "#{ asset_path('devices/photo-dev4.png') }"}
    %h4= link_to 'Canon 5D Mark III'
  .device-item.col-xs-6.col-sm-4.col-md-3.col-lg-2
    .thumbnail-device
      %a{href: '#'}
        %span.price= raw('$100 <span>/day</span>')
        %img.lazyOwl{'data-src' => "#{ asset_path('devices/photo-dev5.png') }"}
    %h4= link_to 'Canon 5D Mark III'

