%section.devices.content
  %h3= "Don’t Let Budgeting Kill Creativitiy"
  .device-price.grey-box
    = render 'preview_items'
    .clear

%section.bg-one

%section.content.grey-box.how
  %h2= "How It Works"
%section.content.sides
  %aside.owner.text-side.col-xs-12.col-sm-5.col-md-5.col-lg-5
    %h3= 'Owners'
    #row-1.row-1.text-box
      %h4= "List Your Equipment"
      %p= raw("Earn money from your gear while you’re not<br />using it and say no to depreciation.")
    #row-2.row-2.text-box
      %h4= "Respond To Requests"
      %p= raw("You can accept or decline requests.<br />Your gear, your rules.")
    #row-3.row-3.text-box
      %h4= "Meet & Greet"
      %p= raw("Meet with local like-minded artists.<br />Teach them your expertice and how to use your gear.")
    #row-4.row-4.text-box
      %h4= "Rest Assured"
      %p= raw("While you wait for your gear, rest assured it’s been<br />taken care for by our industry leading insurance.")
    #row-5.row-5.text-box
      %h4= "Collect & Rate"
      %p= raw("That went by fast. Oh and what’s this? Money!<br />Don’t forget to rate the fellow renter.")

  %aside.line-numbers.col-md-2.col-lg-2
    .number= raw("<span class='row-1 active'>1</span>")
    .number= raw("<span class='row-2'>2</span>")
    .number= raw("<span class='row-3'>3</span>")
    .number= raw("<span class='row-4'>4</span>")
    .number= raw("<span class='row-5'>5</span>")

  %aside.renter.text-side.col-xs-12.col-sm-5.col-md-5.col-lg-5
    %h3= 'Renters'
    #row-1.row-1.text-box
      %h4= "Browse Gear"
      %p= raw("Big ideas, small budget?<br />Find state of the art equipment to realize your dreams.")
    #row-2.row-2.text-box
      %h4= "Request To Book"
      %p= raw("Book the same day or in advance.<br />Your life, your schedule.")
    #row-3.row-3.text-box
      %h4= "Meet & Greet"
      %p= raw("Meet with local like-minded artists.<br />Pickup the gear and begin your journey.")
    #row-4.row-4.text-box
      %h4= "Get Busy"
      %p= raw("You now have the golden key to your idea.<br />Make it happen.")
    #row-5.row-5.text-box
      %h4= "Collect & Rate"
      %p= raw("That went by fast. Oh and what’s this? Money!<br />Don’t forget to rate the fellow renter.")
  .clear

%section.bg-two

%section.content.center
  .grey-box.social.col-xs-12.col-sm-8.col-md-8.col-lg-8
    .col-md-3.col-sm-3.col-xs-6
      = link_to image_tag('social/contact.png'), '#', class: 'img-responsive'
    .col-md-3.col-sm-3.col-xs-6
      = link_to image_tag('social/facebook.png'), '#', class: 'img-responsive'
    .col-md-3.col-sm-3.col-xs-6
      = link_to image_tag('social/photo.png'), '#', class: 'img-responsive'
    .col-md-3.col-sm-3.col-xs-6
      = link_to image_tag('social/twiter.png'), '#', class: 'img-responsive'
