%aside.prod-reg.left.col-xs-12.col-sm-6.col-md-6.col-lg-6
  = f.text_field :title, class: 'meet-location inp-bg', placeholder: "Title"
  = f.text_field :category, class: 'meet-location inp-bg', placeholder: "Category"
  .category-total
    = text_field_tag :label_price_per_day, '', class: 'meet-location inp-bg left col-xs-12 col-sm-6 col-md-6 col-lg-8', placeholder: "Price (per day)"
    = f.text_field :price_per_day, class: 'meet-location left col-xs-12 col-sm-6 col-md-6 col-lg-4', placeholder: "$"

    = text_field_tag :label_total_value, '', class: 'meet-location inp-bg left col-xs-12 col-sm-6 col-md-6 col-lg-8', placeholder: "Total Equipment Value"
    = f.text_field :total_value, class: 'meet-location left col-xs-12 col-sm-6 col-md-6 col-lg-4', placeholder: "$"

  = f.text_area :details, class: 'inp-bg', placeholder: "Details"
  = f.text_field :tag_list, class: 'meet-location inp-bg', placeholder: 'Tags (separated by commas)'
  .inp-bg
    .top-calendar
      .left= 'Availability'
      .right
        = f.check_box :is_available
        = 'Available Forever'
      .clear
    .rangeCalendar
    .done.right== <a href="#">Done</a>
    .clear
%aside.listing.right.col-xs-12.col-sm-6.col-md-6.col-lg-6
  .rit
    = link_to 'Add Pictures', '#', class: 'add-picture inp-bg'
    .slide-images
      = image_tag('slide-image.jpg')
      .slide-controls
        = link_to image_tag('arrow-left.png'), '#'
        == <span>1/3</span>
        = link_to image_tag('arrow-right.png'), '#'
    = f.text_field :meet_location, class: 'meet-location inp-bg', placeholder: 'Meet Location'
    .map-list
      = image_tag('map-list.jpg')


:javascript
  var configObject = {
    format: 'YYYY-MM-DD',
    inline:true,
    alwaysOpen:true,
    container: '#rangeCalendar'
  }
  $('#rangeCalendar').dateRangePicker(configObject);
