.col-xs-12.col-sm-6
  .shadow-box.list
    .new-listing.col-xs-10
      .img-content= image_tag('small-img.jpg')
      .list-detail
        .product-title= "Leica M9 with 50mm f2.0"
        = link_to '$50', '#', class: 'request'
    .col-xs-2
      = link_to "", "#", class: 'edit'
      = link_to "", "#", class: 'delete'
    .clear
