- current_user.products.each do |product|
  .col-xs-12.col-sm-6
    .shadow-box.list
      .new-listing.col-xs-10
        .img-content
          - img = product.assets.first
          -  if img.present?
            = image_tag(img.image.url(:small))
          - else
            = image_tag('small-img.jpg')

        .list-detail
          .product-title= product.title
          = link_to  "$#{product.price_per_day}", listing_path(product), class: 'request'
      .col-xs-2
        = link_to "", edit_listing_path(product), class: 'edit'
        = link_to "", listing_path(product), {confirm: "Are you sure?", method: :delete, class: 'delete'}
      .clear
