%section.search-bar
  .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-2
    %input.drop{"data-toggle" => "dropdown", :placeholder => "category", :type => "text"}/
    %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
      %li
        %a{:href => "#"} All
      %li
        %a{:href => "#"} Camera
      %li
        %a{:href => "#"} Lenses
      %li
        %a{:href => "#"} Audio
      %li
        %a{:href => "#"} External Recorders
      %li
        %a{:href => "#"} Tripods
      %li
        %a{:href => "#"} Rigs & Stabilizers
      %li
        %a{:href => "#"} Accessories
  .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-4
    %input{"data-toggle" => "dropdown", :placeholder => "what", :type => "text"}/
    %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
      %li
        %a{:href => "#"} leica... (4 listings)
      %li
        %a{:href => "#"} lens... (35 listings)
  .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-3
    %input{"data-toggle" => "dropdown", :placeholder => "where", :type => "text"}/
    %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
      %li
        %a{:href => "#"} Toronto, ON
      %li
        %a{:href => "#"} Tokyo, Japan
  .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-3.no-padding
    %input#dpd1.drop{:placeholder => "when", :type => "date"}/
  .clear
%section.content
  %aside.map-points.slide.left.col-xs-12.col-sm-6.col-md-6.col-lg-6
    = image_tag('map-big.jpg')

    .map-pointi
      .map-point
        = image_tag('small-img.jpg')
        .title-popover Leica M9
        %span.price-popover $50
        .clear
      .arrow-bottom
  %aside.user-request.right.col-xs-12.col-sm-6.col-md-6.col-lg-6
    .rit
      .range-sort
        %span $ 10
        %input#range.span2{"data-slider-max" => "500", "data-slider-min" => "10", "data-slider-step" => "1", "data-slider-value" => "[30,450]", :type => "text", :value => ""}/
        %span $ 500
        .search-input
          %input.sort{"data-toggle" => "dropdown", :placeholder => "sort by", :type => "text"}/
          %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
            %li
              %a{:href => "#"} price (low to high)
            %li
              %a{:href => "#"} price (high to low)
            %li
              %a{:href => "#"} proximity
      = render partial: 'listings/search_one_list'
      = render partial: 'listings/search_one_list'
      = render partial: 'listings/search_one_list'
      = render partial: 'listings/search_one_list'
