<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : <%= ENV['lenyt_facebook_key'] %>,
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<center>
  <h4><%= t "devise.invitations.new.header" %></h4>
  <br>
  <ul class="facebook">
    <li href="#" class='fb_logo'>
      <i class="fa fa-facebook"></i>
    </li>
    <li class='fb_share'>
      Share
    </li>
    <li class='fb_like'>
      Like
    </li>
  </ul>
</center>

<hr class='black'>
<h4>Invite Friends via Email</h4>
<h5>Enter their email addresses below separated by comma:</h5>
<br><br>
<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post, id: 'vue-email', 'v-on' => 'submit: sendMails'} do |f| %>
  <%= devise_error_messages! %>

  <ul>
    <li v-repeat="mails">
      <span>{{value}}</span>
      <span v-on="click: removeMail($index)" v-class="hide: status !== 0" style="cursor:pointer">Remove</span>
      <span v-class="hide: status !== -1">{{message}}</span>
      <span v-class="hide: status !== 1">Success</span>
    </li>
  </ul>

<% resource.class.invite_key_fields.each do |field| -%>
  <div class="form-group">
    <%= f.text_field field, class: 'form-control noresize', placeholder: 'email address', 'v-model' =>'mail', 'v-on' => 'keyup: switchOnComma' %>
  </div>
<% end -%>

  <p><%= f.submit t("devise.invitations.new.submit_button"), class: 'list-it col-xs-12 col-sm-12 col-md-12 col-lg-12 btn', id: 'new-listing' %></p>
<% end %>
<div class="clearfix"></div>

<script type="text/javascript">
  $('li.fb_share').click(function(event) {
    FB.ui({
      method: 'share_open_graph',
      action_type: 'og.likes',
      action_properties: JSON.stringify({
        object:'http://lenyt-dev.herokuapp.com/',
      })
    }, function(response){
      // Debug response (optional)
      console.log(response);
    });
  });
</script>
