%section.content
  .col-sm-12.message-board
    .col-xs-6
      / required for floating
      / Nav tabs
      %ul.nav.nav-tabs.tabs-left
        %li.active
          %a{"data-toggle" => "tab", :href => "#home"}
            .user-stars.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .img-content
                %span.redc 3
                = image_tag('emma.png')
              %span.user-name Emma
              .stars
                %span.star-active.star
                %span.star-active.star
                %span.star-active.star
                %span.star-inactive.star
                %span (17)
            .request-info.col-xs-6.col-sm-6.col-md-6.col-lg-6
              Request sent on 20/04/2015
            .clear
        %li
          %a{"data-toggle" => "tab", :href => "#profile"}
            .user-stars.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .img-content
                %span.redc 3
                = image_tag('emma.png')
              %span.user-name Emma
              .stars
                %span.star-active.star
                %span.star-active.star
                %span.star-active.star
                %span.star-inactive.star
                %span (17)
            .request-info.col-xs-6.col-sm-6.col-md-6.col-lg-6
              Request sent on 20/04/2015
            .clear
        %li
          %a{"data-toggle" => "tab", :href => "#messages"}
            .user-stars.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .img-content
                %span.redc 3
                = image_tag('emma.png')
              %span.user-name Emma
              .stars
                %span.star-active.star
                %span.star-active.star
                %span.star-active.star
                %span.star-inactive.star
                %span (17)
            .request-info.col-xs-6.col-sm-6.col-md-6.col-lg-6
              Request sent on 20/04/2015
            .clear
        %li
          %a{"data-toggle" => "tab", :href => "#settings"}
            .user-stars.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .img-content
                %span.redc 3
                = image_tag('emma.png')
              %span.user-name Emma
              .stars
                %span.star-active.star
                %span.star-active.star
                %span.star-active.star
                %span.star-inactive.star
                %span (17)
            .request-info.col-xs-6.col-sm-6.col-md-6.col-lg-6
              Request sent on 20/04/2015
            .clear
    .col-xs-6
      / Tab panes
      .tab-content
        #home.tab-pane.active
          .chat-line-product.col-sm-12
            .inb.col-xs-12.col-sm-8.col-md-6.col-lg-6.chat-product
              .img-content
                = image_tag('small-img.jpg')
              .request-info
                Request for: Leica M6
              .request-info
                Request sent on 20/04/2015
            .pr-details.col-xs-12.col-sm-4.col-md-2.col-lg-2.inb
              5 days
              %span $250
            %a.chat-delete.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
            %a.chat-check.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
          .clear
          .chat-messages.col-sm-12
            #tchat.chat-height.mCustomScrollbar
              .chat-message-content
                .message-details.col-sm-6.left
                  .chat-name.left Emma
                  .chat-date.right Apr 20 - 5:32pm
                  .clear
                .clear
                .from-them.col-sm-6
                  %p Checking out iOS7 you know..
                .clear
              .chat-message-content
                .message-details.col-sm-6.right
                  .chat-name.left You
                  .chat-date.right Apr 20 - 5:38pm
                  .clear
                .clear
                .from-me.col-sm-6
                  %p Check out this bubble!
                .clear
              .chat-message-content
                .message-details.col-sm-6.left
                  .chat-name.left Emma
                  .chat-date.right Apr 20 - 5:32pm
                  .clear
                .clear
                .from-them.col-sm-6
                  %p Checking out iOS7 you know..
                .clear
              .chat-message-content
                .message-details.col-sm-6.right
                  .chat-name.left You
                  .chat-date.right Apr 20 - 5:38pm
                  .clear
                .clear
                .from-me.col-sm-6
                  %p Check out this bubble!
                .clear
              .chat-message-content
                .message-details.col-sm-6.left
                  .chat-name.left Emma
                  .chat-date.right Apr 20 - 5:32pm
                  .clear
                .clear
                .from-them.col-sm-6
                  %p Checking out iOS7 you know..
                .clear
              .chat-message-content
                .message-details.col-sm-6.right
                  .chat-name.left You
                  .chat-date.right Apr 20 - 5:38pm
                  .clear
                .clear
                .from-me.col-sm-6
                  %p Check out this bubble!
                .clear
              .chat-message-content
                .message-details.col-sm-6.left
                  .chat-name.left Emma
                  .chat-date.right Apr 20 - 5:32pm
                  .clear
                .clear
                .from-them.col-sm-6
                  %p Checking out iOS7 you know..
                .clear
              .chat-message-content
                .message-details.col-sm-6.right
                  .chat-name.left You
                  .chat-date.right Apr 20 - 5:38pm
                  .clear
                .clear
                .from-me.col-sm-6
                  %p Check out this bubble!
                .clear
          .type-side
            %textarea.col-sm-10{:placeholder => "type..."}
            %button.col-sm-2.send send
            .clear
          .clear
        #profile.tab-pane
          .chat-line-product.col-sm-12
            .inb.col-xs-12.col-sm-8.col-md-6.col-lg-6.chat-product
              .img-content
                = image_tag('small-img.jpg')
              .request-info
                Request for: Leica M6
              .request-info
                Request sent on 20/04/2015
            .pr-details.col-xs-12.col-sm-4.col-md-2.col-lg-2.inb
              5 days
              %span $150
            %a.chat-delete.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
            %a.chat-check.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
        #messages.tab-pane
          .chat-line-product.col-sm-12
            .inb.col-xs-12.col-sm-8.col-md-6.col-lg-6.chat-product
              .img-content
                = image_tag('small-img.jpg')
              .request-info
                Request for: Leica M6
              .request-info
                Request sent on 20/04/2015
            .pr-details.col-xs-12.col-sm-4.col-md-2.col-lg-2.inb
              5 days
              %span $450
            %a.chat-delete.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
            %a.chat-check.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
        #settings.tab-pane
          .chat-line-product.col-sm-12
            .inb.col-xs-12.col-sm-8.col-md-6.col-lg-6.chat-product
              .img-content
                = image_tag('small-img.jpg')
              .request-info
                Request for: Leica M6
              .request-info
                Request sent on 20/04/2015
            .pr-details.col-xs-12.col-sm-4.col-md-2.col-lg-2.inb
              5 days
              %span $350
            %a.chat-delete.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
            %a.chat-check.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
    .clear
