%section.top-side
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle{data: {toggle: 'collapse', target: '#myNavbar'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag(logo_img, title: 'Lenyt - Rent camera gear locally'), root_path, class: 'logo navbar-brand'

      #myNavbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to "List Your Equipment", new_listing_path, class: 'list-icon'
          - if user_signed_in?
            %li
              %a{data: {toggle: 'dropdown'}}
                = current_user.full_name
                %span.user-block
                  = user_avatar(current_user)
                  %span.counti.redc.hidden= '3'
              %ul.dropdown-menu{role: 'menu', aria: {labelledby: 'dLabel'}}
                %li= link_to "Your Listings", my_profile_path
                %li= link_to raw("Messages <span class='redc hidden'>3</span>"), messages_path
                %li= link_to "Account Settings", settings_users_path
                %li= link_to "Invite Friends", settings_users_path
                %li= link_to "Log Out", destroy_user_session_path, {method: :delete}
          - else
            - if devise_mapping.registerable? && controller_name != 'registrations'
              %li= link_to "Sign Up", '#', data: {toggle: 'modal', target: '#signUpModal'}
            // %li= link_to "I agree", '#', data: {toggle: 'modal', target: '#myModal2'}
            - if controller_name != 'sessions'
              %li= link_to "Log In", '#', data: {toggle: 'modal', target: '#myModal1'}

