!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ rel: 'shortcut icon', href: image_path("/icon.gif") }
    = csrf_meta_tags
  %body
    %header
      = render partial: 'shared/header', locals: {logo_img: 'logo.png'}
    %main
      = render 'shared/flashes'
      = yield
