!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{'src' => 'http://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js'}
    = csrf_meta_tags
    %link{ rel: 'shortcut icon', href: image_path("/icon.gif") }
  %body
    %header
      = render partial: 'shared/header', locals: {logo_img: 'logo.png'}
      = render 'layouts/flash_notices'
    %main
      //= render 'shared/flashes'
      = yield
      = render partial: "shared/sign_up_modal"
      = render partial: "shared/login_modal"
      = render partial: "shared/agree_modal"
