!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{ rel: 'shortcut icon', href: image_path("/icon.gif") }
    = csrf_meta_tags
  %body
    %header
      = render partial: 'shared/header'
    = yield
