!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&language=en'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => ENV['SOCKET_IO_SCRIPT']}
    %script{:src => "//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"}
    %meta{data: {session_id: session[:session_id]}}
    %link{ rel: 'shortcut icon', href: image_path("/icon.gif") }
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Lenyt", :property => "og:title"}/
    %meta{:content => "EQUIP YOUR INNER ARTIST - Rent camera gear locally.", :property => "og:site_name"}/
    %meta{:content => "http://lenyt-dev.herokuapp.com/", :property => "og:url"}/
    %meta{:content => "EQUIP YOUR INNER ARTIST - Rent camera gear locally.", :property => "og:description"}/
  %body
    %header
      = render partial: 'shared/header', locals: {logo_img: 'logo.png'}
      = render 'layouts/flash_notices'
    %main
      = yield
      = render partial: "shared/sign_up_modal"
      = render partial: "shared/login_modal"
      = render partial: "shared/agree_modal"
