!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = stylesheet_link_tag    'homepage', media: 'all'
    = javascript_include_tag 'homepage'
    = csrf_meta_tags
    %link{ rel: 'shortcut icon', href: image_path("/icon.gif") }
  %body
    %header
      = render partial: 'shared/header'
    %main
      = yield
      = render partial: "shared/sign_up_modal"
      = render partial: "shared/login_modal"
      = render partial: "shared/agree_modal"

    %footer
      .made= raw("Made With <span class='love'></span> In Toronto")
