!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render partial: 'shared/header'
    %main
      = yield
      = render partial: "shared/sign_up_modal"
      = render partial: "shared/login_modal"
      = render partial: "shared/agree_modal"

    %footer
      .made= raw("Made With <span class='love'></span> In Toronto")
