!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lenyt
    = stylesheet_link_tag    'homepage', media: 'all'
    = javascript_include_tag 'homepage'
    = csrf_meta_tags
    %script{:src => "//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"}
    %link{ rel: 'shortcut icon', href: image_path("/icon.gif") }
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Lenyt", :property => "og:title"}/
    %meta{:content => "EQUIP YOUR INNER ARTIST - Rent camera gear locally.", :property => "og:site_name"}/
    %meta{:content => "http://lenyt-dev.herokuapp.com/", :property => "og:url"}/
    %meta{:content => "EQUIP YOUR INNER ARTIST - Rent camera gear locally.", :property => "og:description"}/
  %body
    %header
      = render partial: 'shared/header', locals: {logo_img: 'logo_white.png'}
      = render 'layouts/flash_notices'
      %section.header-content
        %h1= "EQUIP YOUR INNER ARTIST"
        %h2= "Rent camera gear locally."
        %div.how-works How it works
        %input.search-field.col-xs-10.col-xs-offset-1.col-sm-8.col-md-6.col-lg-4{placeholder: 'What are you looking for?', type: 'search'}
        %input.search-icon{type: 'button'}

    %main
      //= render 'shared/error_messages'
      = yield
      = render partial: "shared/sign_up_modal"
      = render partial: "shared/login_modal"
      = render partial: "shared/agree_modal"

    %footer
      .made= raw("Made With <span class='love'></span> In Toronto")
